# needs to be place at /etc/systemd/system/patch-node.service

[Unit]
Description=Patch Kubernetes Node with AWS Provider ID
After=network.target kubelet.service
Wants=kubelet.service

[Service]
ExecStart=/usr/local/bin/patch-node.sh
Restart=on-failure
User=root
Environment="KUBECONFIG=/root/.kube/config"

[Install]
WantedBy=multi-user.target